@font-face {
font-family: "Edmondsans Bold";
src: url("fonts/Edmondsans-Bold.eot");
src:
url("fonts/Edmondsans-Bold.woff") format("woff"),
url("fonts/Edmondsans-Bold.otf") format("opentype"),
url("fonts/Edmondsans-Bold.svg#filename") format("svg");
}

@media only screen and (max-width: 1023px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }

  /* experience section */
  .company-logo{
    margin-top: 70px;
    width: 300px;
  }

  .position-point{
    display: none;
  }

  .company-position{
      color: rgb(180, 44, 4);
      margin-top: 20px;
      margin: auto;
      text-align: center;
      font-size: 40px;
  }

  .company-name{
    margin: auto;
    text-align: center;
    font-size: 35px;
  }

  .company-details{
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  /* experience section */

  /* stay tuned section */
  .stay-button{
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 0px;
    background-color: black;
    color: white;
    font-size: 30px;
  }

  .stay-input{
    font-family: 'Edmondsans Bold', Arial, sans-serif;
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
    margin-left: 30px;
  }
  /* stay tuned section */
}

@media only screen and (min-width: 1024px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }

  /* experience section */
  .company-logo{
    margin-top: 20px;
  }

  .company-position{
      color: rgb(180, 44, 4);
      margin-top: 20px;
  }

  .company-name{
    margin-left: 35px;
  }

  .company-details{
    margin-left: 35px;
  }
  /* experience section */

  /* stay tuned section */
  .stay-button{
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 0px;
    background-color: black;
    color: white;
    font-size: 30px;
    margin-left: 200px;
  }

  .stay-input{
    font-family: 'Edmondsans Bold', Arial, sans-serif;
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
    margin-left: 120px;
  }
  /* stay tuned section */
}

/* home section */
.home-section{
  background-image: url('img/head-cover.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.quote{
  font-family: 'Edmondsans Bold', Arial, sans-serif;
  font-size: 320%;
  font-weight: bold;
  margin-top: 50px;
}

.author{
  color: white;
  font-size: 20px;
}

.author hr{
  border: 2px solid white;
  width: 20%;
  margin-left: 80%;
}

.book{
  /* height: 800px; */
  /* height: 80%; */
  width: 140%;
  margin-left: -50px;
  margin-top: -20px;
}

.m-book{
  height: 500px;
  margin-left: 100px;
}

.m-author{
  color: white;
  font-size: 20px;
  margin-top: -50px;
}

.m-author hr{
  border: 1px solid white;
  width: 10%;
  margin-left: 90%;
}

.m-quote{
  font-family: 'Edmondsans Bold', Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
}
/* home section */

/* ashkar introduction */

.intro{
  margin-top: 20px;
  width: 80%;
  margin: auto;
}

.intro-img{
  width: 200px;
  margin-top: 50px;
  margin-bottom: -30px;
}

.h1-black{
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.h1-orange{
  background-color: black;
  color: rgb(180, 44, 4);
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.h3-black{
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.h3-orange{
  margin-left: -5px;
  background-color: black;
  color: rgb(180, 44, 4);
  font-size: 30px;
  font-weight: bold;
  /* padding-left: 10px; */
  padding-right: 10px;
}

.intro-text{
  padding: 10px;
  font-size: 18px;
  text-align: justify;
}

.intro-hr{
  border: 1px solid rgb(195, 195, 195);
  width: 40%;
  margin-right: 60%;
}

.linkedin{
  height: 30px;
  margin-top: -10px;
}

.linkedin-text{
  text-decoration: none;
  color: rgb(91, 89, 89);
  font-size: 30px;
  padding-left: 10px;
}
/* ashkar introduction */

/* showcase section */
.container-showcase{
  width: 82%;
}

.showcase{
  margin-top: 50px;
  margin-bottom: 50px;
}

.showcase-col{
  background-color: white;
  margin-top: 10px;
}
/* showcase section */

/* experience */
.ex-title{
  background-color: black;
  padding: 5px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
/* experience */

/* impact backgroud  */
.impact-section{
  background-image: url('img/impact-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.stay-form{
  padding-top: 350px;
}
/* impact backgroud */

/* footer section */
.footer{
  background-color: black;
  width: 100%;
  height: 200px;
}

.links{
  color: white;
}

.links hr{
  width: 30%;
  margin-left: 70%;
  border: 1px solid white;
}

.link-img{
  width: 30px;
  margin-left: 20px;
}
/* footer section */
